# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ignore all files and folders inside the 'checkpoints' directory
/checkpoints/

# Ignore all files and folders inside the 'data' directory
/data/

# Ignore all files and folders inside the 'src/logs' directory
/src/logs/

/src/out/
# Ignore anything with a .log extension
*.log

# Ignore anything with a .ckpt extension
*.ckpt
*.crt
*.txt

# Ignore anything inside /workspace/searchless_chess/src/pythia/
src/pythia/logs/
src/pythia/ckpts/
src/pythia/pythia-160m
src/pythia/pythia-160m-deduped
Dockerfile_apl